<!-- The Side Bar -->

<aside aria-label="Sidebar" id="sidebar" class="d-flex flex-column align-items-end">
  <header class="profile-wrapper">
    <a href="{{ '/' | relative_url }}" id="avatar" class="rounded-circle">
      {%- if site.avatar != empty and site.avatar -%}
        {%- capture avatar_url -%}
          {% include media-url.html src=site.avatar %}
        {%- endcapture -%}
        <img src="{{- avatar_url -}}" width="112" height="112" alt="avatar" onerror="this.style.display='none'">
      {%- endif -%}
    </a>

    <h1 class="site-title">
      <a href="{{ '/' | relative_url }}">{{ site.title }}</a>
    </h1>
    <p class="site-subtitle fst-italic mb-0">{{ site.tagline }}</p>
  </header>
  <!-- .profile-wrapper -->

  <nav class="flex-column flex-grow-1 w-100 ps-0">
    <ul class="nav">
      <!-- home -->
      <li class="nav-item{% if page.layout == 'home' %}{{ " active" }}{% endif %}">
        <a href="{{ '/' | relative_url }}" class="nav-link">
          <i class="fa-fw fas fa-home"></i>
          <span>{{ site.data.locales[include.lang].tabs.home | upcase }}</span>
        </a>
      </li>
      <!-- the real tabs -->
      {% for tab in site.tabs %}
        <li class="nav-item{% if tab.url == page.url %}{{ " active" }}{% endif %}">
          <a href="{{ tab.url | relative_url }}" class="nav-link">
            <i class="fa-fw {{ tab.icon }}"></i>
            {% capture tab_name %}{{ tab.url | split: '/' }}{% endcapture %}

            <span>{{ site.data.locales[include.lang].tabs.[tab_name] | default: tab.title | upcase }}</span>
          </a>
        </li>
        <!-- .nav-item -->
      {% endfor %}
    </ul>
  </nav>

  <div class="flex-wrap  align-items-center w-100">
    <li><a href="https://signedinfo.com/entry/%ED%8F%AC%EC%9E%A5%EC%9D%B4%EC%82%AC-%EB%B9%84%EC%9A%A9">포장이사 비용</a></li>
    <li><a href="https://dentalcarekorea.com/%ec%9e%84%ed%94%8c%eb%9e%80%ed%8a%b8-%ea%b3%bc%ec%a0%95-3/">임플란트 가격</a></li>
    <li><a href="https://jobnawa.com/%ec%96%b4%eb%a6%b0%ec%9d%b4-%ed%99%94%ec%83%81%ec%98%81%ec%96%b4-%ec%88%9c%ec%9c%84/">화상영어 가격</a></li>
    <li><a href="https://educake.kr/%ec%9c%99%ed%81%ac-%ed%95%99%ec%8a%b5%ec%a7%80-%ea%b0%80%ea%b2%a9/">어린이 학습지 가격</a></li>
    <li><a href="https://naverzip.blogspot.com/2023/11/blog-post_655.html">공인중개사 시험문제 다운로드</a></li>
    <li><a href="https://rentcar4us.com/%ea%b3%b5%ec%9c%a0%ec%98%a4%ed%94%bc%ec%8a%a4-1%ec%9d%bc%ea%b6%8c/">공유오피스 가격</a></li>
    <li><a href="https://opensis.kr/entry/%EB%AA%A8%EB%B0%94%EC%9D%BC%EC%86%8C%EC%95%A1%EB%8C%80%EC%B6%9C">모바일 소액 대출 당일 지급</a></li>
    <li><a href="https://danawo.tistory.com/893">자동차보험 1인 추가 비용</a></li>
    <li><a href="https://danawe.tistory.com/1773">보청기 지원금 신청</a></li>
    <li><a href="https://onioninfo.kr/entry/%EB%B3%B4%EC%B2%AD%EA%B8%B0-%EC%8B%A4%EB%B9%84%EB%B3%B4%ED%97%98-%EB%B3%B4%EC%83%81-%EC%A0%81%EC%9A%A9-%EC%97%AC%EB%B6%80">보청기 실비 보험</a></li>
    <li><a href="https://dongryo.tistory.com">대환 대출</a></li>
    <li><a href="https://naver-official.blogspot.com/">다운로드</a></li>
    <li><a href="https://qoogle.tistory.com">임플란트 지원금</a></li>
    <li><a href="https://www.behealthy4u.com/%ec%8a%a4%eb%a7%88%ec%9d%bc%eb%9d%bc%ec%8b%9d-%ea%b0%80%ea%b2%a9-%ec%95%88%ec%a0%84%ed%95%98%ea%b3%a0-%ed%9a%a8%ea%b3%bc%ec%a0%81%ec%9d%b8-%ec%8b%9c%ec%88%a0%ec%9d%98-%ed%8f%89%ea%b7%a0-%eb%b9%84/">스마일라식 가격</a></li>
    <li><a href="https://kimplant.github.io">임플란트</a></li>
    <li><a href="https://rentncar.github.io">rentncar</a></li>
    <li><a href="https://koreanews.github.io">koreanews</a></li>
    <li><a href="https://uinfoshop.com">uinfoshop.com</a></li>
  </div>

  <div class="sidebar-bottom d-flex flex-wrap  align-items-center w-100">
    {% unless site.theme_mode %}
      <button type="button" class="btn btn-link nav-link" aria-label="Switch Mode" id="mode-toggle">
        <i class="fas fa-adjust"></i>
      </button>

      {% if site.data.contact.size > 0 %}
        <span class="icon-border"></span>
      {% endif %}
    {% endunless %}

    {% for entry in site.data.contact %}
      {% case entry.type %}
        {% when 'github', 'twitter' %}
          {%- capture url -%}
            https://{{ entry.type }}.com/{{ site[entry.type].username }}
          {%- endcapture -%}
        {% when 'email' %}
          {% assign email = site.social.email | split: '@' %}
          {%- capture url -%}
            javascript:location.href = 'mailto:' + ['{{ email[0] }}','{{ email[1] }}'].join('@')
          {%- endcapture -%}
        {% when 'rss' %}
          {% assign url = '/feed.xml' | relative_url %}
        {% else %}
          {% assign url = entry.url %}
      {% endcase %}

      {% if url %}
        <a
          href="{{ url }}"
          aria-label="{{ entry.type }}"
          {% assign link_types = '' %}

          {% unless entry.noblank %}
            target="_blank"
            {% assign link_types = 'noopener noreferrer' %}
          {% endunless %}

          {% if entry.type == 'mastodon' %}
            {% assign link_types = link_types | append: ' me' | strip %}
          {% endif %}

          {% unless link_types == empty %}
            rel="{{ link_types }}"
          {% endunless %}
        >
          <i class="{{ entry.icon }}"></i>
        </a>
      {% endif %}
    {% endfor %}
  </div>
  <!-- .sidebar-bottom -->
</aside>
<!-- #sidebar -->
